/* .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
} */

h1 {
  margin-bottom: 20px;
  color: gray;
  font-weight: bolder;
  text-align: center;
}

h2 {
  /* margin-bottom: 10px; */
  color: gray;
  text-align: center;
  font-size: 1.5rem;
}
span {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-container {
  display: flex;
  flex-direction: column;
}
.data-container1, .data-container2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  /* justify-items: center; */
  width: 100%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #90a1b3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 3px;
}

.suggestions li {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}